<div class="app" #app tabindex="0" (keydown)="onKeyDown($event)">
    <div class="header">
        <div class="title">{{ title }}</div>
        <div class="score-container">
            <div class="score">
                Highest Score: <span class="counter">{{ highestScore }}</span>
            </div>
            <div class="score">
                Last Score: <span class="counter">{{ lastScore }}</span>
            </div>
            <div class="score">
                Current Score: <span class="counter">{{ currentScore }}</span>
            </div>
        </div>
        <button
            class="button {{
                buttonState === 'Start Game'
                    ? 'start'
                    : buttonState === 'In Progress'
                    ? 'in-progress'
                    : 'game-over'
            }}"
            (click)="onStart()"
        >
            {{ buttonState }}
        </button>
    </div>
    <!-- "grid.height + 2" fixes design error -->
    <div class="grid" [ngStyle]="{ 'width.px': grid.width, 'height.px': grid.height + 2 }">
        <div
            class="grid-rows"
            [ngStyle]="{ 'height.px': grid.blockHeight }"
            *ngFor="let rows of grid.values; let row = index"
        >
            <div
                class="grid-columns"
                [ngStyle]="{ 'width.px': grid.blockWidth }"
                *ngFor="let columns of rows; let column = index"
            >
                <div class="field empty" *ngIf="grid.values[row][column] === ' '"></div>
                <div class="field snake" *ngIf="grid.values[row][column] === 'P'"></div>
                <div class="field food" *ngIf="grid.values[row][column] === 'X'"></div>
            </div>
        </div>
    </div>
</div>
